# Default ignored files
/../../../../Programación/LP2026-2/LP01N/.idea/shelf/
/../../../../Programación/LP2026-2/LP01N/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../Programación/LP2026-2/LP01N/.idea/httpRequests/
# Ignored default folder with query files
/../../../../Programación/LP2026-2/LP01N/.idea/queries/
# Datasource local storage ignored files
/../../../../Programación/LP2026-2/LP01N/.idea/dataSources/
/../../../../Programación/LP2026-2/LP01N/.idea/dataSources.local.xml
